<div class="footer">
  <div class="company">
    <div class="logo">
      <img src="../../assets/logoWhite.png" alt="" height="150px">
    </div>
    <div class="copyright">
      © 2023 Pvt.Ld
    </div>
  </div>
  <div class="secound">
    <h3>Company</h3>
    <div>About</div>
    <div>Carrers</div>
    <div>Team</div>
  </div>
  <div class="third">
    <h3>Contact us</h3>
    <div>help & support</div>
    <div>Partner with us</div>
    <div>Delivery with us</div>
    </div>

  <div class="fourth">
    <h3>We deliver to</h3>
    <div>All Cities Over Tamil Nadu</div>
    <div>banglore</div>
    <div>Hydrabad</div>
  </div>
</div>
