<div class="home">
  <div class="titleContainer">
    <h2>Best Offers for you</h2>
  </div>
    <div class="scrolloptions">
      <div>
<span class="material-symbols-outlined" (click)="scrollLeft()" *ngIf="!isMobile">
        arrow_back
        </span>
      <span class="material-symbols-outlined" (click)="scrollRight()" *ngIf="!isMobile">
        arrow_forward
        </span>
      </div>

    </div>

  <div class="offerContainer">
  <div class="offers" #scroller>
    <div>
      <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_850,h_504/rng/md/carousel/production/731031544495581f1d6884624aa3ecf5" alt="">
    </div>
    <div>
      <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_850,h_504/rng/md/carousel/production/2568f3f6928c7615151b9df37ed6f8b8" alt="">
    </div>
    <div>
      <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_850,h_504/rng/md/carousel/production/5c907945eab0e3d18053bec12d35f910" alt="">
    </div>
    <div>
      <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_850,h_504/rng/md/carousel/production/2cf01e3ff6afaf9abed44c6f9e3639f5" alt="">
    </div>
  </div>
</div>


<div class="titleContainer">
  <h2>Shop by catogory</h2>
</div>

<div class="catogryContainer">
<div class="catogry">
  <div class="oversized">
    <div>
      <img src="../../../assets/oversizedg.png" alt="">

    </div>
    <h3>Oversized</h3>
    </div>

    <div class="tanktop">
      <div>
        <img src="../../../assets/tanktop.png" alt="">
      </div>
      <h3>Tank Top</h3>
      </div>
      <div class="tshirt">
        <div>
          <img src="../../../assets/tshirt.png" alt="">
        </div>
        <h3>Printed Tee</h3>
        </div>
        <div class="hoodedSandos">
          <div>
            <img src="../../../assets/hoodedsandos.png" alt="">
          </div>
          <h3>Hooded Sandoo</h3>
          </div>
      </div>
</div>

<div class="titleContainer">
  <h2>Top Selling</h2>
</div>
  <div class="scrolloptions">
    <div>
<span class="material-symbols-outlined" (click)="scrollLeft()" *ngIf="!isMobile">
      arrow_back
      </span>
    <span class="material-symbols-outlined" (click)="scrollRight()" *ngIf="!isMobile">
      arrow_forward
      </span>
    </div>

  </div>

<div class="topSellers">
<div class="products">
  <div class="box" *ngFor="let product of mockData">
    <div>
      <div class="wishContainer">
<span class="material-symbols-outlined">
        favorite
        </span>
      </div>

      <img src="{{product.image}}" alt="">
    </div>
    <div class="productname">
      <span id="pname">{{product.prodName}}</span>
    </div>
    <div class="catogory">
      <span>{{product.catogory}}</span>
    </div>
    <div class="price">
      <span>{{product.price|currency:"INR"}}</span>
    </div>
  </div>
</div>
</div>
<div>

  <!-- <div class="titleContainer">
    <h2>Membership</h2>
  </div>
  <app-membership></app-membership>
</div>
<div class="filters">
  <app-location></app-location>
</div> -->
</div>
</div>
